---
layout: narrow
title: Mitglied werden
hide_cta: true
permalink: mitglied-werden.html
---
<section>
    <p>
        Der Aufnahmeantrag kann nach dem Herunterladen bequem am PC ausgefüllt werden.<br>
        Nach dem Drucken (<em>wichtig: doppelseitig</em>) bitte unterschreiben und entweder dem Vorstand persönlich geben
        oder per Post an den Verein senden:
    </p>

    <address>
        <strong>StuSta-Alumni e.V.</strong><br>
        Willi-Graf-Str. 15<br>
        80805 München
    </address>

    <p>Die Aufnahme wird jedem Mitglied binnen vier Wochen bestätigt.</p>

    <a class="btn btn-primary" href="{% link /assets/Mitgliedsantrag_v3.0.pdf %}" type="application/pdf">Zum Aufnahmeantrag</a>
</section>
