---
layout: narrow
title: Satzung
title_long: Satzung des StuSta-Alumni e.V.
position: 200
toc: true
permalink: satzung.html
---
<section>
    <p class="lead">
        Die Satzung ist auch als <a href="/assets/Satzung_2009-07-29.pdf" type="application/pdf">
        <abbr class="initialism" title="Portable Document Format">PDF</abbr>-Datei</a> verfügbar.
    </p>

    <h2 id="§1">§1 Name und Sitz des Vereins</h2>
    <ol>
        <li>
            Der Name des Vereins lautet „StuSta-Alumni“.
            Er soll in das Vereinsregister eingetragen werden.
            Nach der Eintragung führt er den Zusatz „e.V.“
        </li>
        <li>Vereinssitz ist München.</li>
    </ol>

    <h2 id="§2">§2 Vereinszweck</h2>
    <p>Zweck des Vereins ist die Studentenhilfe.</p>

    <h2 id="§3">§3 Verwirklichung des Vereinszweckes</h2>
    <p>Der Vereinszweck wird insbesondere verwirklicht durch:</p>
    <ol>
        <li>
            die Unterhaltung von Gemeinschaftseinrichtungen im Studentenwohnheim „Studentenstadt
            Freimann“
        </li>
        <li>
            Organisation und Durchführung von Veranstaltungen, die das Studium bzw. das Studentenleben
            betreffen.
        </li>
    </ol>

    <h2 id="§4">§4 Gemeinnützigkeit</h2>
    <p>
        Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnitts
        „Steuerbegünstigte Zwecke“ der Abgabenordnung. Der Verein ist selbstlos tätig. Er verfolgt keine
        eigenwirtschaftlichen Zwecke. Mittel des Vereins dürfen nur für die satzungsgemäßen Zwecke
        verwendet werden. Es darf keine Person durch Ausgaben, die den Zwecken des Vereins fremd sind,
        oder durch unverhältnismäßig hohe Vergütungen begünstigt werden. Die Mitglieder erhalten in
        ihrer Eigenschaft als Mitglieder keine sonstigen Zuwendungen aus Mitteln des Vereins.
    </p>

    <h2 id="§5">§5 Geschäftsjahr</h2>
    <p>Das Geschäftsjahr des Vereins ist das Kalenderjahr.</p>

    <h2 id="§6">§6 Erwerb der Mitgliedschaft</h2>
    <ol>
        <li>
            Mitglieder des Vereins können alle natürlichen Personen werden, die mindestens 18 Jahre alt
            sind und sich zu den Vereinszielen bekennen.
        </li>
        <li>
            Es gibt folgende Arten von Mitgliedschaften:
            <dl>
                <dt>Vollmitgliedschaft</dt>
                <dd>Vollmitglieder sind auf der Mitgliederversammlung stimmberechtigt.</dd>

                <dt>Fördermitgliedschaft</dt>
                <dd>Fördermitglieder sind nicht stimmberechtigt.</dd>
            </dl>
        </li>
        <li>
            Die Mitgliedschaft ist beim Vorstandsvorsitzenden des Vereins schriftlich zu beantragen.
            Dieser bestätigt die Antragsannahme dem Antragsteller schriftlich.
        </li>
        <li>
            Stehen der Aufnahme in den Verein wichtige Gründe entgegen, ist der Vorstandsvorsitzende
            verpflichtet, den Antrag dem Vorstand zur Entscheidung vorzulegen. Der Vorstand entscheidet
            über den Antrag innerhalb von vier Wochen mit einfacher Mehrheit. Die Entscheidung des
            Vorstandes ist dem Antragsteller unverzüglich mitzuteilen.
        </li>
        <li>
            Auf Vorschlag des Vorstandes kann die Mitgliederversammlung Ehrenmitglieder auf Lebenszeit
            ernennen.
        </li>
    </ol>

    <h2 id="§7">§7 Erlöschen der Mitgliedschaft</h2>
    <ol>
        <li>Die Mitgliedschaft erlischt
            <ul>
                <li>mit dem Tod</li>
                <li>durch Austritt oder Ausschluss</li>
                <li>durch Streichung von der Mitgliederliste</li>
            </ul>
        </li>
        <li>
            Der Austritt muss schriftlich gegenüber dem Vorstandsvorsitzenden des Vereins erklärt
            werden. Er kann nur zum Ende eines Kalenderjahres unter Einhaltung einer vierteljährlichen
            Kündigungsfrist erfolgen.
        </li>
        <li>
            Ein Mitglied, das schuldhaft in erheblichem Maße gegen die Vereinsinteressen verstoßen hat,
            kann auf Antrag des Vorstandes durch Beschluss der Mitgliederversammlung aus dem Verein
            ausgeschlossen werden. Vor der Beschlussfassung ist dem Mitglied Gelegenheit zur mündlichen
            oder schriftlichen Stellungnahme zu geben. Der Vorstand teilt dem Mitglied den Antrag
            spätestens mit der Versendung der Einladung zur Mitgliederversammlung mit.
        </li>
    </ol>

    <h2 id="§8">§8 Organe des Vereins</h2>
    <p>Die Organe des Vereins sind die Mitgliederversammlung und der Vorstand.</p>

    <h2 id="§9">§9 Die Mitgliederversammlung</h2>
    <ol>
        <li>
            Die Mitgliederversammlung ist das oberste Organ des Vereins. Die Beschlüsse der
            Mitgliederversammlung sind für den Vorstand bindend.
        </li>
        <li>
            Die ordentliche Mitgliederversammlung wird einmal im Jahr vom Vorstandsvorsitzenden
            einberufen. Eine außerordentliche Mitgliederversammlung ist unverzüglich einzuberufen,
            wenn das Vereinsinteresse es erfordert oder wenn mindestens ein Viertel der
            stimmberechtigten Mitglieder die Einberufung schriftlich und unter Angabe der Gründe
            fordern.
        </li>
        <li>
            Alle Mitglieder sind schriftlich unter Bekanntgabe von Tagesordnung, Zeit und Ort spätestens
            14 Tage vor dem Versammlungstermin einzuladen. Für die ordnungsgemäße Ladung genügt die
            Zusendung an die zuletzt bekannte Post- oder Emailadresse. Der Vorstand setzt die
            Tagesordnung fest. Jedes Mitglied kann schriftlich bis eine Woche vor der
            Mitgliederversammlung die Ergänzung der Tagesordnung beantragen. Der Vorstand gibt die
            Ergänzungen bekannt. Über Ergänzungsanträge während der Mitgliederversammlung entscheidet
            die Mitgliederversammlung.
        </li>
        <li>
            Die Mitgliederversammlung hat insbesondere die folgenden Aufgaben:
            <ul>
                <li>Entgegennahme des Jahresberichts des Vorstands</li>
                <li>Entgegennahme des Kassenprüfungsberichts</li>
                <li>Entlastung des Vorstands</li>
                <li>Beschlussfassung über den Haushaltsplan des Vereins für das kommende Jahr</li>
                <li>Wahl und Abberufung des Vorstands</li>
                <li>Wahl zweier Kassenprüfer, die nicht Vorstandsmitglieder sein dürfen</li>
                <li>Beschlussfassung über Satzungsänderungen und die Auflösung des Vereins</li>
                <li>Änderung von Mitgliedsbeiträgen</li>
                <li>Verleihung von Ehrenmitgliedschaften</li>
            </ul>
        </li>
        <li>Die Mitgliederversammlung wird vom Vorsitzenden,
            bei dessen Verhinderung vom stellvertretenden Vorsitzenden, bei Verhinderung beider vom
            Schatzmeister geleitet.
        </li>
        <li>Beschlussfähig ist jede ordnungsgemäß berufene
            Mitgliederversammlung. Bei Beschlussunfähigkeit ist innerhalb von Vierzehn Tagen eine
            neue Mitgliederversammlung ohne Rücksicht auf die Zahl der erschienenen
            stimmberechtigten Mitglieder einzuberufen.
        </li>
        <li>Beschlüsse werden mit einfacher Mehrheit
            gefasst,soweit nicht in dieser Satzung etwas anderes bestimmt ist. Die Art der
            Abstimmung bestimmt der Versammlungsleiter. Die Abstimmung muss schriftlich durchgeführt
            werden, wenn ein Drittel der erschienenen Mitglieder dies beantragt.
        </li>
        <li>Bei Wahlen ist gewählt, wer mehr als die Hälfte
            der abgegebenen Stimmen erhalten hat. Hat kein Kandidat mehr als die Hälfte der
            abgegebenen gültigen Stimmen erhalten, findet zwischen den beiden Kandidaten, welche die
            meisten Stimmen erhalten haben, eine Stichwahl statt. Bei nochmaliger Stimmengleichheit
            entscheidet das vom Versammlungsleiter zu ziehende Los.
        </li>
        <li>Über die Mitgliederversammlung wird eine
            Niederschrift gefertigt, die vom Leiter der Versammlung und vom Protokollführer zu
            unterzeichnen ist.
        </li>
    </ol>

    <h2 id="§10">§10 Der Vorstand</h2>

    <ol>
        <li>
            Der Vorstand nach §26 des Bürgerlichen Gesetzbuches besteht aus mindestens vier
            stimmberechtigten Mitgliedern und kann auf sieben Mitglieder erweitert werden.
        </li>

        <li>
            Die Vorstandsmitglieder wählen aus ihrer Mitte:
            <ul>
                <li>den Vorsitzenden des Vorstandes</li>
                <li>den stellvertretenden Vorsitzenden</li>
                <li>den Schatzmeister</li>
                <li>den Schriftführer</li>
            </ul>
        </li>

        <li>Der Vorstand ist verantwortlich für:
            <ul>
                <li>die Führung der laufenden Geschäfte,</li>
                <li>die Ausführung der Beschlüsse der Mitgliederversammlung,</li>
                <li>die Verwaltung des Vereinsvermögens,</li>
                <li>die Buchführung,</li>
                <li>die Erstellung eines Jahresberichts,</li>
                <li>die Vorbereitung und</li>
                <li>die Einberufung der Mitgliederversammlung.</li>
            </ul>
        </li>
        <li>
            Der Verein wird gerichtlich und außergerichtlich durch den Vorsitzenden des Vorstands oder
            den stellvertretenden Vorsitzenden und ein weiteres Mitglied des Vorstandes gemeinschaftlich
            vertreten. Im Innenverhältnis ist der stellvertretende Vorsitzende nur vertretungsberechtigt,
            wenn der Vorsitzende verhindert ist.
        </li>
        <li>
            Die Vorstandsmitglieder gemäß Absatz 1 werden von der Mitgliederversammlung für die Dauer
            von vier Jahren gewählt. Die Vorstandsmitglieder bleiben so lange im Amt, bis eine Neuwahl
            erfolgt ist. Scheidet ein Vorstandsmitglied vorzeitig aus, wählt die Mitgliederversammlung
            ein Ersatzmitglied für die verbleibende Amtsdauer des ausscheidenden Mitglieds. Mit der
            Beendigung der Mitgliedschaft im Verein endet auch das Amt eines Vorstandsmitglieds.
            Scheidet ein Vorstandsmitglied vorzeitig aus, so kann der Vorstand bis zur darauf folgenden
            Mitgliederversammlung ein Mitglied kooptieren.
        </li>
        <li>
            Der Vorsitzende oder in seiner Vertretung der stellvertretende Vorsitzende leitet die
            Vorstandssitzungen. Er beruft den Vorstand mindestens einmal im Semester ein, ebenso wenn
            zwei Vorstandsmitglieder dies beantragen. Eine Einladungsfrist von einer Woche soll
            eingehalten werden.
        </li>
        <li>
            Der Vorstand ist beschlussfähig, wenn mindestens drei der stimmberechtigten Mitglieder
            anwesend sind. Der Vorstand fasst die Beschlüsse mit einfacher Mehrheit der
            stimmberechtigten Anwesenden; bei Stimmengleichheit entscheidet die Stimme des Vorsitzenden,
            jedoch nur dann, wenn der Vorstand vollzählig ist. Über jede Verhandlung ist eine
            Niederschrift aufzunehmen.
        </li>
        <li>
            Zwischen den Vorstandssitzungen kann der Vorstand im Umlaufverfahren, bei dem alle
            Vorstandsmitglieder Gelegenheit zur Stellungnahme haben müssen, schriftlich beschließen; das
            schriftliche Verfahren kann durch ein ausreichend dokumentiertes elektronisches Verfahren
            ersetzt werden.
        </li>
    </ol>

    <h2 id="§11">§11 Haftung des Vorstandes</h2>
    <p>
        Eine Haftung der Mitglieder des Vorstandes im Innenverhältnis tritt nur bei Vorsatz und grober
        Fahrlässigkeit ein.
    </p>

    <h2 id="§12">§12 Rechnungsprüfer</h2>
    <p>
        Die Mitgliederversammlung bestimmt zusammen mit der Wahl des Vorstandes zwei Personen zu
        Rechnungsprüfern für die Amtszeit des gleichzeitig gewählten Vorstands. Die Rechnungsprüfer
        prüfen innerhalb von sechs Monaten nach Ablauf jeweils eines Geschäftsjahres die
        Finanzverwaltung des Vereins und erstatten der Mitgliederversammlung Bericht.
    </p>

    <h2 id="§13">§13 Mitgliedsbeiträge</h2>
    <ul>
        <li>
            Die Mitgliedsbeiträge sind Jahresbeiträge. Sie sind für alle Mitglieder jeweils am 1. Januar
            eines Jahres im Voraus fällig. Tritt das Mitglied während des Jahres ein, wird der erste
            Mitgliedsbeitrag mit der Aufnahme fällig. In Sonderfällen kann der Vorstand auf Antrag den
            Mitgliedsbeitrag für einen Zeitraum von bis zu zwei Jahren ab Fälligkeit stunden.
        </li>
        <li>
            Über die Höhe des Mitgliedsbeitrags für Vollmitglieder entscheidet die
            Mitgliederversammlung. Fördermitglieder legen ihren Mitgliedsbeitrag selbst fest.
        </li>
        <li>
            Die Mitgliederversammlung kann für Studierende einen niedrigeren Mitgliedsbeitrag
            beschließen oder auf die Erhebung eines Mitgliedsbeitrags verzichten. Maßgebender Zeitpunkt
            für die Behandlung als Studierender ist der Beginn des jeweiligen Geschäftsjahres.
        </li>
    </ul>

    <h2 id="§14">§14 Spenden</h2>
    <p>
        Neben den Mitgliedsbeiträgen sollen Spenden zur Unterstützung der Arbeit des Vereins eingeworben
        werden. Die Spender sind berechtigt, den Verwendungszweck näher zu spezifizieren.
    </p>

    <h2 id="§15">§15 Änderung der Satzung, Abberufung des Vorstands</h2>
    <p>
        Eine Änderung der Satzung und die Abberufung des Vorstandes kann nur durch Beschluss der
        Mitgliederversammlung mit einer Zweidrittel-Mehrheit der stimmberechtigten Anwesenden erfolgen.
        Zur Beschlussfassung über Satzungsänderungen muss ein Fünftel der stimmberechtigten
        Vereinsmitglieder anwesend und ordnungsgemäß geladen sein. Für den Fall der Beschlussunfähigkeit
        ist innerhalb von vier Wochen eine neue Mitgliederversammlung einzuberufen, die unabhängig von
        der Zahl der anwesenden Mitglieder beschlussfähig ist.
    </p>

    <h2 id="§16">§16 Auflösung des Vereins</h2>
    <p>
        Die Auflösung des Vereins kann nur durch eine eigens zu diesem Zwecke zur Abstimmung einberufene
        Mitgliederversammlung mit einer Mehrheit von drei Vierteln der anwesenden stimmberechtigten
        Mitglieder beschlossen werden. Für die Beschlussfähigkeit gelten §9 Absatz. 3 und 6 entsprechend.
        Falls die Mitgliederversammlung nichts anderes beschließt, sind der Vorsitzende, der
        stellvertretende Vorsitzende und der Schatzmeister gemeinsam vertretungsberechtigte Liquidatoren.
    </p>

    <h2 id="§17">§17 Vermögensbindung bei Auflösung</h2>
    <p>
        Bei Auflösung des Vereins, bei Aufhebung oder bei Wegfall steuerbegünstigter Zwecke fällt das
        Vermögen des Vereins an „Studentenstadt München e.V.“ der es unmittelbar und ausschließlich für
        gemeinnützige Zwecke zu verwenden hat.
    </p>
    <p class="pull-right"><small>Version vom 29.07.2009</small></p>
</section>
