---
layout: narrow
title: Satzung
title_long: Satzung des StuSta-Alumni e.V.
position: 200
toc: true
permalink: satzung.html
---
<section>
    <p class="lead">
        Die Satzung ist auch als <a href="{% link assets/Satzung_2019-11-10.pdf %}" type="application/pdf">
        <abbr class="initialism" title="Portable Document Format">PDF</abbr>-Datei</a> verfügbar.
    </p>

    <h2 id="§1">§1 Name, Sitz und Geschäftsjahr</h2>
    <ol>
        <li>Der Verein führt den Namen „StuSta-Alumni&nbsp;e.V.“ – im Folgenden „Verein“ genannt.</li>
        <li>Der Verein hat seinen Sitz in München und ist im Vereinsregister des Amtsgerichts München eingetragen.</li>
        <li>Das Geschäftsjahr des Vereins ist das Kalenderjahr.</li>
    </ol>

    <h2 id="§2">§2 Vereinszweck</h2>
    <ol>
        <li>Zweck des Vereins ist die Studierendenhilfe.</li>
        <li>
            Er wird insbesondere verwirklicht durch:
            <ol class="lower-alpha">
                <li>
                    die Unterhaltung und Unterstützung von Gemeinschaftseinrichtungen in der Studierendenwohnanlage
                    „Studentenstadt&nbsp;Freimann“.
                </li>
                <li>
                    die Organisation und Durchführung von Veranstaltungen, die das Studium bzw. das Studierendenleben
                    betreffen.
                </li>
            </ol>
        </li>
    </ol>

    <h2 id="§3">§3 Gemeinnützigkeit</h2>
    <ol>
        <li>
            Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnitts
            „Steuerbegünstigte Zwecke“ der Abgabenordnung.
        </li>
        <li>Der Verein ist selbstlos tätig; er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke.</li>
        <li>
            Mittel des Vereins dürfen nur für die satzungsgemäßen Zwecke verwendet werden. Die Mitglieder erhalten
            keine Anteile am Überschuss des Vereins und keine sonstigen Zuwendungen aus Mitteln des Vereins.
        </li>
        <li>
            Es darf keine Person durch Ausgaben, die dem Zweck des Vereins fremd sind, oder durch unverhältnismäßig hohe
            Vergütungen begünstigt werden.
        </li>
    </ol>

    <h2 id="§4">§4 Erwerb der Mitgliedschaft</h2>
    <ol>
        <li>
            Mitglieder des Vereins können alle natürlichen Personen werden, die mindestens 18 Jahre alt sind, sowie alle
            juristischen Personen.
        </li>
        <li>Die Mitgliedschaft ist beim Vorstand des Vereins schriftlich zu beantragen.</li>
        <li>
            Der Vorstand entscheidet per Beschluss spätestens in der nächstfolgenden Vorstandssitzung über den
            Aufnahmeantrag. Wer den Antrag gestellt hat, wird unverzüglich schriftlich oder per E-Mail über die
            Entscheidung informiert.
        </li>
        <li>
            Wird ein Aufnahmeantrag vom Vorstand abgelehnt, muss die Mitteilung der Entscheidung unter Angabe der Gründe
            für die Ablehnung erfolgen.
        </li>
        <li>Ein Anspruch auf Aufnahme in den Verein besteht nicht.</li>
        <li>Auf Vorschlag des Vorstands kann die Mitgliederversammlung Ehrenmitglieder ernennen.</li>
    </ol>

    <h2 id="§5">§5 Rechte und Pflichten der Mitglieder</h2>
    <ol>
        <li>
            Alle Mitglieder haben gleiche Rechte und Pflichten, soweit in dieser Satzung nichts anderes geregelt ist.
        </li>
        <li>
            Mitglieder besitzen das aktive Wahlrecht sowie das Antrags-, Stimm- und Rederecht auf
            Mitgliederversammlungen. Natürliche Personen besitzen als Mitglieder das passive Wahlrecht. Alle Mitglieder
            sind weiterhin berechtigt, an allen Veranstaltungen und Angeboten des Vereins teilzunehmen.
        </li>
        <li>
            Mitglieder sind verpflichtet, den Verein und den Vereinszweck in ordnungsgemäßer Weise zu unterstützen
            sowie die Mitgliedsbeiträge pünktlich zu zahlen (siehe <a href="#§6">§&nbsp;6</a>). Sie sind außerdem
            verpflichtet, dem Vorstand Änderungen ihres Namens, ihrer Anschrift oder ihrer E-Mail-Adresse umgehend
            mitzuteilen. Für Folgen, die sich daraus ergeben, dass ein Mitglied dieser Pflicht nicht nachkommt, haftet
            das Mitglied und stellt den Verein von jeglicher Haftung frei.
        </li>
        <li>
            Die Ämter des Vereins werden grundsätzlich ehrenamtlich ausgeübt. Die Mitgliederversammlung kann abweichend
            davon beschließen, Mitgliedern für ihre Tätigkeit eine angemessene Vergütung im Rahmen der
            Ehrenamtspauschale zu gewähren.
        </li>
    </ol>

    <h2 id="§6">§6 Mitgliedsbeiträge und Spenden</h2>
    <ol>
        <li>
            Die Mitgliedsbeiträge sind Jahresbeiträge. Sie sind für alle Mitglieder jeweils am 1. Januar des jeweiligen
            Geschäftsjahres fällig. Im Jahr des Beitritts und des Erlöschens der Mitgliedschaft ist jeweils der volle
            Jahresbeitrag zu leisten. Der erste Mitgliedsbeitrag wird mit der Aufnahme des Mitglieds zur Zahlung fällig.
        </li>
        <li>Ehrenmitglieder sind von der Pflicht der Beitragszahlung befreit.</li>
        <li>
            Über die Höhe des Mitgliedsbeitrages entscheidet die Mitgliederversammlung. Der von der
            Mitgliederversammlung festgelegte Mitgliedsbeitrag ist ein Mindestbeitrag; höhere jährliche Beiträge liegen
            im eigenen Ermessen eines jeden Mitglieds.
        </li>
        <li>
            Die Mitgliederversammlung kann für Personen mit eingeschränkter finanzieller Leistungskraft (z.&nbsp;B.
            Schülerinnen und Schüler, Studierende, Erwerbslose und Personen, die Renten oder bestimmte Sozialleistungen
            beziehen) einen niedrigeren Mitgliedsbeitrag beschließen oder auf die Erhebung eines Mitgliedsbeitrags
            verzichten. Maßgebender Zeitpunkt für die Behandlung als Person mit eingeschränkter finanzieller
            Leistungskraft ist der Beginn des jeweiligen Geschäftsjahres.
        </li>
        <li>
            In Sonderfällen kann der Vorstand auf Antrag den Mitgliedsbeitrag für einen Zeitraum von bis zu zwei Jahren
            ab Fälligkeit stunden.
        </li>
        <li>
            Neben den Mitgliedsbeiträgen sollen Spenden zur Unterstützung der Arbeit des Vereins eingeworben werden.
            Spendende sind berechtigt, den Verwendungszweck ihrer Spenden näher zu spezifizieren.
        </li>
        <li>Bei Erlöschen der Mitgliedschaft werden einem ausscheidenden Mitglied keine Beiträge zurückerstattet.</li>
    </ol>

    <h2 id="§7">§7 Erlöschen der Mitgliedschaft</h2>
    <ol>
        <li>Die Mitgliedschaft erlischt
            <ol class="lower-alpha">
                <li>bei natürlichen Personen mit dem Tod,</li>
                <li>bei juristischen Personen mit deren Erlöschen,</li>
                <li>durch Austritt aus dem Verein,</li>
                <li>durch Ausschluss aus dem Verein sowie</li>
                <li>durch Streichung von der Mitgliederliste.</li>
            </ol>
        </li>
        <li>
            Der Austritt muss schriftlich gegenüber dem Vorstand erklärt werden. Er wird wirksam mit Zustellung der
            Erklärung an den Vorstand.
        </li>
        <li>
            Ein Mitglied, das schuldhaft in erheblichem Maße gegen die Vereinsinteressen verstoßen hat, kann auf Antrag
            des Vorstands oder mindestens dreier Mitglieder durch Beschluss der Mitgliederversammlung aus dem Verein
            ausgeschlossen werden. Vor der Beschlussfassung ist dem Mitglied Gelegenheit zur mündlichen oder
            schriftlichen Stellungnahme zu geben. Der Vorstand übermittelt dem Mitglied den Antrag spätestens mit der
            Versendung der Einladung zur Mitgliederversammlung.
        </li>
        <li>
            Ein Mitglied kann ferner durch Beschluss des Vorstands von der Mitgliederliste gestrichen werden, wenn
            <ol class="lower-alpha">
                <li>
                    es trotz zweimaliger schriftlicher Mahnung mit der Zahlung mindestens eines Mitgliedsbeitrags im
                    Rückstand ist oder
                </li>
                <li>
                    die Anschrift oder E-Mail-Adresse des Mitglieds entgegen <a href="#§5">§&nbsp;5</a>&nbsp;Abs.&nbsp;3
                    trotz mindestens zweimaliger schriftlicher Aufforderung nicht ordnungsgemäß mitgeteilt wurde und
                    daher unbekannt ist.
                </li>
            </ol>
        </li>
        <li>
            Der Beschluss über die Streichung eines Mitglieds aufgrund der Nichtzahlung des Mitgliedsbeitrags gemäß
            Abs.&nbsp;4&nbsp;lit.&nbsp;a ist frühestens zwei Monate nach Versendung der zweiten Mahnung unter
            gleichzeitiger Androhung des Ausschlusses zulässig. Der Beschluss des Vorstands muss dem Mitglied
            schriftlich oder per E-Mail mitgeteilt werden.
        </li>
    </ol>

    <h2 id="§8">§8 Organe des Vereins</h2>
    <ol>
        <li>
            Die Organe des Vereins sind
            <ol class="lower-alpha">
                <li>die Mitgliederversammlung,</li>
                <li>der Vorstand.</li>
            </ol>
        </li>
        <li>Die Vereinsorgane können sich Geschäftsordnungen geben.</li>
    </ol>

    <h2 id="§9">§9 Mitgliederversammlung</h2>
    <ol>
        <li>
            Die Mitgliederversammlung ist das oberste Organ des Vereins. Die Beschlüsse der Mitgliederversammlung sind
            für alle anderen Vereinsorgane und alle Mitglieder des Vereins bindend, soweit in dieser Satzung nichts
            anderes geregelt ist.
        </li>
        <li>
            Die Mitgliederversammlung hat insbesondere die folgenden Aufgaben:
            <ol class="lower-alpha">
                <li>Entgegennahme des Jahresberichts des Vorstands,</li>
                <li>
                    Entgegennahme der Rechenschaftsberichte von Vorstandsmitgliedern (siehe <a href="#§10">
                    §&nbsp;10</a>&nbsp;Abs.&nbsp;10),
                </li>
                <li>
                    Entgegennahme des Kassenprüfungsberichts für das abgelaufene Geschäftsjahr (siehe <a href="#§11">
                    §&nbsp;11</a>),
                </li>
                <li>
                    Entlastung von Vorstandsmitgliedern (siehe <a href="#§10">
                    §&nbsp;10</a>&nbsp;Abs.&nbsp;10&nbsp;und&nbsp;11),
                </li>
                <li>
                    Kenntnisnahme des aktualisierten Haushaltsplans des Vereins für das aktuelle Geschäftsjahr und des
                    vorläufigen Haushaltsplans des Vereins für das kommende Geschäftsjahr,
                </li>
                <li>
                    Beschlussfassung über den finanziellen Verfügungsrahmen des Vorstands bis zur nächsten
                    Mitgliederversammlung,
                </li>
                <li>
                    Wahl und Abberufung von Vorstandsmitgliedern (siehe Abs.&nbsp;15&nbsp;und&nbsp;16 sowie
                    <a href="#§10">§&nbsp;10</a>),
                </li>
                <li>
                    Wahl und Abberufung zweier Kassenprüfenden (siehe Abs.&nbsp;15,&nbsp;16&nbsp;und&nbsp;17 sowie
                    <a href="#§11">§&nbsp;11</a>),
                </li>
                <li>Ausschluss von Vereinsmitgliedern (siehe <a href="#§7">§&nbsp;7</a>),</li>
                <li>Festlegung und Änderung von Mitgliedsbeiträgen (siehe <a href="#§6">§&nbsp;6</a>),</li>
                <li>Verleihung von Ehrenmitgliedschaften (siehe <a href="#§4">§&nbsp;4</a>),</li>
                <li>Beschlussfassung über Satzungsänderungen (siehe <a href="#§12">§&nbsp;12</a>),</li>
                <li>
                    Beschlussfassung zu grundlegenden Maßnahmen der Förderpolitik des Vereins zur Erreichung des
                    Vereinszwecks sowie
                </li>
                <li>Auflösung des Vereins (siehe <a href="#§13">§&nbsp;13</a>).</li>
            </ol>
        </li>
        <li>
            Haushaltspläne dienen lediglich der Information der Mitgliederversammlung über die wirtschaftliche Situation
            des Vereins. Der Vorstand darf unter Berücksichtigung der Beschlüsse nach Abs.&nbsp;2&nbsp;lit.&nbsp;f vom
            Haushaltsplan abweichen, muss aber bei der nächstfolgenden Mitgliederversammlung darüber informieren.
        </li>
        <li>
            Die ordentliche Mitgliederversammlung wird einmal jährlich im ersten Halbjahr des Geschäftsjahres vom
            Vorstand einberufen.
        </li>
        <li>
            Eine außerordentliche Mitgliederversammlung ist unverzüglich vom Vorstand einzuberufen, wenn
            <ol class="lower-alpha">
                <li>das Vereinsinteresse es erfordert,</li>
                <li>
                    mindestens zehn Prozent der stimmberechtigten Mitglieder die Einberufung schriftlich und unter
                    Angabe der Gründe fordern, oder
                </li>
                <li>
                    so viele Vorstandsmitglieder aus dem Amt scheiden, dass nur noch zwei Vorstandsmitglieder im Amt
                    verbleiben.
                </li>
            </ol>
        </li>
        <li>
            Alle Mitglieder sind per E-Mail unter Bekanntgabe von Tagesordnung, Zeit und Ort spätestens vier Wochen vor
            dem Versammlungstermin einzuladen. Für die ordnungsgemäße Ladung genügt die fristgerechte Absendung an die
            zuletzt bekannte E-Mail-Adresse.
        </li>
        <li>
            Der Vorstand setzt die Tagesordnung fest. Jedes Mitglied kann schriftlich oder per E-Mail bis zwei Wochen
            vor der Mitgliederversammlung die Ergänzung der Tagesordnung beim Vorstand beantragen. Lehnt der Vorstand
            Ergänzungsanträge ab, muss er zu Beginn der Mitgliederversammlung darüber informieren. Der Vorstand gibt
            angenommene Ergänzungen der Tagesordnung mindestens eine Woche vor der Mitgliederversammlung per E-Mail
            und zu Beginn der Mitgliederversammlung mündlich bekannt. Für die Wahrung der Frist genügt jeweils die
            fristgerechte Absendung. Über später, spätestens jedoch bis zum Beginn der Mitgliederversammlung, beim
            Vorstand eingehende Ergänzungsanträge zur Tagesordnung entscheidet die Mitgliederversammlung zu Beginn
            der Mitgliederversammlung. Über Ergänzungsanträge während der Mitgliederversammlung entscheidet die
            Mitgliederversammlung am Ende des jeweils aktuellen Tagesordnungspunktes. Auch zu allen ergänzten
            Tagesordnungspunkten dürfen unter Berücksichtigung von Abs.&nbsp;8 Anträge gestellt und Beschlüsse gefasst
            werden.
        </li>
        <li>
            Folgende Anträge und Dokumente müssen den Mitgliedern im Wortlaut spätestens zwei Wochen vor dem
            Versammlungstermin per E-Mail mit entsprechenden Tagesordnungspunkten bekannt gemacht werden:
            <ol class="lower-alpha">
                <li>Anträge auf Änderung der Satzung (siehe <a href="#§12">§&nbsp;12</a>),</li>
                <li>Bewerbungen um ein Vorstandsamt,</li>
                <li>
                    Anträge auf Abberufung von Vorstandsmitgliedern (siehe <a href="#§10">
                    §&nbsp;10</a>&nbsp;Abs.&nbsp;14),
                </li>
                <li>Anträge auf Ausschluss von Vereinsmitgliedern (siehe <a href="#§7">§&nbsp;7</a>),</li>
                <li>Anträge auf Änderung des Mitgliedsbeitrags (siehe <a href="#§6">§&nbsp;6</a>),</li>
                <li>Finanzanträge, deren Beträge 200 Euro übersteigen sowie</li>
                <li>Anträge auf Auflösung des Vereins (siehe <a href="#§13">§&nbsp;13</a>).</li>
            </ol>
            Für die Fristwahrung genügt jeweils die fristgerechte Absendung der Bekanntmachung.
        </li>
        <li>
            Die Mitgliederversammlung wird vom 1.&nbsp;Vorsitz geleitet, bei dessen Verhinderung vom 2.&nbsp;Vorsitz,
            bei Verhinderung beider vom Finanzvorstand.
        </li>
        <li>
            Beschlussfähig ist jede ordnungsgemäß einberufene Mitgliederversammlung bei Anwesenheit von mindestens acht
            Mitgliedern.
        </li>
        <li>
            Bei Beschlussunfähigkeit der Mitgliederversammlung ist innerhalb von sechs Wochen eine neue
            Mitgliederversammlung mit gleichlautender Tagesordnung abzuhalten. Diese Tagesordnung darf nicht ergänzt
            werden. Zu dieser Mitgliederversammlung dürfen keine neuen Anträge und Dokumente gemäß Abs.&nbsp;8
            eingereicht werden. Unter dem Tagesordnungspunkt „Sonstiges“ können während dieser Mitgliederversammlung
            keine Beschlüsse gefasst werden. Für die erneute Einladung gilt weiterhin Abs.&nbsp;6. Diese
            Mitgliederversammlung ist ohne Rücksicht auf die Anzahl der anwesenden Mitglieder beschlussfähig. Anstelle
            dieser Mitgliederversammlung kann innerhalb der gleichen Frist auch eine neue Mitgliederversammlung
            einberufen werden, die nur bei Anwesenheit von mindestens acht Mitgliedern beschlussfähig ist, deren
            Tagesordnung gemäß Abs.&nbsp;7 ergänzt werden darf und zu der neue Anträge und Dokumente gemäß Abs.&nbsp;8
            eingereicht werden dürfen. Der Vorstand muss in der Einladung deutlich darauf hinweisen, von welcher der
            beiden Optionen Gebrauch gemacht wurde.
        </li>
        <li>Jedes Mitglied hat auf der Mitgliederversammlung eine Stimme. Stimmenübertragungen sind nicht zulässig.</li>
        <li>
            Die Mitgliederversammlung entscheidet grundsätzlich mit einfacher Mehrheit der abgegebenen gültigen Stimmen,
            soweit in dieser Satzung nichts anderes geregelt ist.
        </li>
        <li>
            Über den Ausschluss aus dem Verein entscheidet die Mitgliederversammlung mit absoluter Mehrheit der
            anwesenden Mitglieder. Enthaltungen, ungültige und nicht abgegebene Stimmen von anwesenden Mitgliedern
            zählen als Nein-Stimmen.
        </li>
        <li>
            Eine Abstimmung muss schriftlich und geheim durchgeführt werden, wenn mindestens zehn Prozent der anwesenden
            Mitglieder dies beantragen. Vorstandswahlen, Abberufungen und Mitgliederausschlüsse müssen immer schriftlich
            und geheim durchgeführt werden. Bei schriftlichen Wahlen oder Abstimmungen wird vorab ein Wahlausschuss
            gewählt, der aus mindestens zwei Mitgliedern besteht. Diesem obliegt die satzungsgemäße Durchführung der
            Wahl oder Abstimmung, die Übernahme der Sitzungsleitung für die Dauer der Wahl oder Abstimmung, die
            Auszählung der Stimmen sowie die Bekanntgabe der Ergebnisse.
        </li>
        <li>
            Bei Wahlen wird nach folgendem Verfahren gewählt:
            <ol class="lower-alpha">
                <li>
                    Eine Gesamtabstimmung über mehrere gleiche Ämter ist zulässig. Jedes anwesende Mitglied besitzt für
                    jedes zu wählende Amt jeweils eine Ja-Stimme. Für jede kandidierende Person kann mit Ja oder Nein
                    gestimmt werden. Enthaltungen und Stimmenhäufung sind nicht möglich.
                </li>
                <li>
                    Bei Wahlen ist gewählt, wer die absolute Mehrheit, also mehr Ja-Stimmen als die Hälfte der Anzahl
                    der anwesenden Stimmberechtigen auf sich vereint. Ungültige und nicht abgegebene Stimmen von
                    anwesenden Mitgliedern zählen als Nein-Stimmen.
                </li>
                <li>
                    Nach jedem Wahlgang werden alle Kandidierenden entsprechend ihrer erhaltenen Ja-Stimmen absteigend
                    gereiht.
                </li>
                <li>
                    Haben mindestens so viele Kandidierende die erforderliche Mehrheit erhalten, wie Ämter zu wählen
                    sind, sind so viele Kandidierende vom Beginn der Reihung gewählt, wie Ämter zu wählen sind.
                    Verhindert Stimmengleichheit ein eindeutiges Ergebnis, findet zwischen den Kandidierenden mit
                    gleicher Anzahl der Ja-Stimmen ein Wahlgang mit einer Stichwahl statt.
                </li>
                <li>
                    Haben weniger Kandidierende die erforderliche Mehrheit erhalten, als Ämter zu wählen sind, wird
                    für die verbleibenden offenen Ämter ein weiterer Wahlgang durchgeführt. In diesen rücken so viele
                    Kandidierende vom Beginn der Reihung ohne die im aktuellen Wahlgang gewählten Kandidierenden vor,
                    dass diese mit ihren erhaltenen Stimmen zusammen mehr als die Hälfte der Zahl aller möglichen
                    Ja-Stimmen des nächstfolgenden Wahlganges auf sich vereinen.
                </li>
                <li>Insgesamt gibt es maximal drei Wahlgänge.</li>
            </ol>
        </li>
        <li>
            Alle Wahlen außer Vorstandswahlen dürfen abweichend von Abs.&nbsp;16 auf Beschluss der Mitgliederversammlung
            offen und als Listen- oder Blockwahl durchgeführt werden.
        </li>
        <li>
            Über die Mitgliederversammlung wird ein Protokoll angefertigt, das von der Versammlungsleitung und der
            Protokollführung zu unterzeichnen ist. Das Protokoll ist den Mitgliedern binnen vier Wochen nach der
            Mitgliederversammlung per E-Mail zu übersenden. Für die Fristwahrung gilt jeweils die fristgerechte
            Absendung des Protokolls. Es wird gültig, wenn nicht binnen vier Wochen nach seiner Absendung von einem
            Mitglied beim Vorstand gegen das Protokoll Einspruch in Textform erhoben wird.
        </li>
        <li>
            Über alle eingehenden Einsprüche gegen das Protokoll berät der Vorstand. Das gegebenenfalls geänderte
            Protokoll ist binnen zwei Wochen nach Ablauf der Einspruchsfrist allen Mitgliedern erneut per E-Mail
            zuzusenden. Für die Fristwahrung gilt jeweils die fristgerechte Absendung des Protokolls. Es wird gültig,
            wenn nicht binnen zwei Wochen nach der erneuten Absendung von einem Mitglied beim Vorstand gegen das
            Protokoll Einspruch in Textform erhoben wird. Im Falle mindestens eines weiteren Einspruchs wird den
            Mitgliedern das Vorliegen von Einsprüchen per E-Mail bekanntgemacht. Die nächstfolgende
            Mitgliederversammlung diskutiert und verabschiedet die endgültige Fassung des Protokolls.
        </li>
    </ol>

    <h2 id="§10">§10 Vorstand</h2>
    <ol>
        <li>
            Der Vorstand besteht aus mindestens drei Mitgliedern und kann auf bis zu sieben Mitglieder erweitert werden.
        </li>
        <li>
            Über die Zahl der maximal zu besetzenden Vorstandsämter beschließt vorab der amtierende Vorstand und
            informiert darüber in der Einladung zur Mitgliederversammlung. Die Mitgliederversammlung darf die Zahl
            der Vorstandsmitglieder unmittelbar vor der Wahl durch eigenen Beschluss ändern. Eine Erweiterung des
            Vorstands um weitere Mitglieder ist jederzeit durch Beschluss der Mitgliederversammlung zulässig.
        </li>
        <li>
            Die Vorstandsmitglieder wählen aus ihrer Mitte:
            <ol class="lower-alpha">
                <li>den 1.&nbsp;Vorsitz,</li>
                <li>den 2.&nbsp;Vorsitz,</li>
                <li>den Finanzvorstand sowie</li>
                <li>den Schriftführer oder die Schriftführerin.</li>
            </ol>
        </li>
        <li>
            Wer den 1.&nbsp;Vorsitz innehat, darf nicht den 2.&nbsp;Vorsitz innehaben oder Finanzvorstand sein. Wer den
            2.&nbsp;Vorsitz innehat, darf nicht Finanzvorstand sein.
        </li>
        <li>
            Der Verein wird gerichtlich und außergerichtlich durch den 1.&nbsp;und&nbsp;2.&nbsp;Vorsitz gemeinschaftlich
            oder einen der beiden Vorsitze zusammen mit einem weiteren Vorstandsmitglied gemeinschaftlich vertreten.
        </li>
        <li>
            Der Vorstand hat insbesondere die folgenden Aufgaben:
            <ol class="lower-alpha">
                <li>Führung der laufenden Geschäfte,</li>
                <li>Ausführung der Beschlüsse der Mitgliederversammlung,</li>
                <li>Verwaltung des Vereinsvermögens,</li>
                <li>Buchführung,</li>
                <li>Erstellung eines Jahresberichts des abgelaufenen Geschäftsjahres,</li>
                <li>
                    Ablegen eines Rechenschaftsberichts bei Ende der Amtszeit oder vorzeitigem Ausscheiden aus dem
                    Vorstandsamt,
                </li>
                <li>Vorbereitung und Einberufung der Mitgliederversammlung (siehe <a href="#§9">§&nbsp;9</a>) sowie</li>
                <li>Pflege des Mitgliederregisters.</li>
            </ol>
        </li>
        <li>Vorstandsmitglieder müssen bei ihrer Wahl und während ihrer Amtszeit Vereinsmitglieder sein.</li>
        <li>
            Die Vorstandsmitglieder werden von der Mitgliederversammlung für die Dauer von vier Jahren gewählt. Eine
            Wiederwahl ist beliebig oft möglich. Die Amtszeit durch Erweiterung des Vorstands gewählter
            Vorstandsmitglieder gemäß Abs.&nbsp;2 endet spätestens mit der regulären Amtszeit der anderen
            Vorstandsmitglieder.
        </li>
        <li>
            Ein Vorstandsmitglied scheidet aus seinem Amt
            <ol class="lower-alpha">
                <li>bei Ablauf der Amtszeit,</li>
                <li>bei Abberufung durch die Mitgliederversammlung,</li>
                <li>bei Beendigung der Mitgliedschaft im Verein (siehe <a href="#§7">§&nbsp;7</a>),</li>
                <li>durch Rücktritt, frühestens jedoch mit dem Ende der nächstfolgenden Mitgliederversammlung.</li>
            </ol>
        </li>
        <li>
            Bei Ablauf der Amtszeit oder vorzeitigem Ausscheiden muss jedes Vorstandsmitglied der Mitgliederversammlung
            einen Rechenschaftsbericht vorlegen, bevor es entlastet werden kann. Für eine erfolgreiche Entlastung
            müssen zudem die Kassenprüfenden der Mitgliederversammlung vorab einen schriftlichen Bericht über die
            abgelaufene Amtszeit des zu entlastenden Vorstandsmitglieds vorlegen.
        </li>
        <li>
            Bei Abstimmungen über Entlastungen von Vorstandsmitgliedern haben diese und Vereinsmitglieder, die in
            ebendiesem Zeitraum Vorstandsmitglieder waren, für den Entlastung erteilt werden soll, kein Stimmrecht.
        </li>
        <li>
            Bei regulärem Ablauf der Amtszeit bleiben die Vorstandsmitglieder mindestens bis zur Wahl neuer
            Vorstandsmitglieder im Amt.
        </li>
        <li>
            Ein aus dem Vorstandsamt ausscheidendes Vorstandsmitglied muss bis spätestens acht Wochen nach Ablauf der
            Amtszeit die Amtsgeschäfte übergeben und alle Geld- und Sachmittel des Vereins an die amtierenden
            Vorstandsmitglieder aushändigen. Es muss ein Übergabeprotokoll angefertigt werden, das von allen
            Vorstandsmitgliedern unterzeichnet wird.
        </li>
        <li>
            Soll ein Vorstandsmitglied durch die Mitgliederversammlung abberufen werden, ist ein schriftlicher Antrag
            mindestens dreier Mitglieder des Vereins an den Vorstand erforderlich. Dem betroffenen Vorstandsmitglied
            muss vor der Abstimmung über die Abberufung die Möglichkeit der mündlichen oder schriftlichen Stellungnahme
            auf der Mitgliederversammlung eingeräumt werden. Über die Abberufung von Vorstandsmitgliedern entscheidet
            die Mitgliederversammlung mit absoluter Mehrheit der anwesenden Mitglieder. Enthaltungen, ungültige und
            nicht abgegebene Stimmen von anwesenden Mitgliedern zählen als Nein-Stimmen.
        </li>
        <li>
            Ein Vorstandsmitglied kann vorzeitig auf eigenen Wunsch durch Rücktritt aus dem Amt scheiden. Der Rücktritt
            muss schriftlich gegenüber dem Vorstand oder der Mitgliederversammlung erklärt werden. Gibt das
            zurücktretende Vorstandsmitglied keinen Zeitpunkt für das Wirksamwerden seines Rücktritts an, wird der
            Rücktritt mit dem Ende der nächstfolgenden Mitgliederversammlung wirksam.
        </li>
        <li>
            Scheidet ein Vorstandsmitglied vorzeitig aus dem Amt, kann die Mitgliederversammlung ein neues
            Vorstandsmitglied für die verbleibende Amtsdauer des ausscheidenden Vorstandsmitglieds wählen. In diesem
            Fall muss der Tagesordnungspunkt „Ersatzwahl von Vorstandsmitgliedern“ mit der Einladung zur
            Mitgliederversammlung bekanntgegeben werden.
        </li>
        <li>
            Scheiden so viele Vorstandsmitglieder vorzeitig aus dem Amt, dass nur noch zwei Vorstandsmitglieder im Amt
            verbleiben, muss vom Vorstand unmittelbar eine Mitgliederversammlung einberufen werden, deren Tagesordnung
            mindestens die folgenden Punkte beinhaltet:
            <ol class="lower-alpha">
                <li>Rechenschaftsbericht des Vorstands,</li>
                <li>Entlastung des Vorstands,</li>
                <li>Ersatzwahl der ausgeschiedenen Vorstandsmitglieder.</li>
            </ol>
            Wird auf dieser Mitgliederversammlung kein neues Vorstandsmitglied gewählt oder scheiden so viele
            Vorstandsmitglieder gleichzeitig durch eigenen Wunsch, Abberufung oder Beendigung der Mitgliedschaft im
            Verein aus dem Amt, dass weniger als zwei Vorstandsmitglieder im Amt verbleiben, gilt §&nbsp;29&nbsp;BGB.
        </li>
        <li>
            Vorstandsmitglieder haften dem Verein<abbr class="initialism" title="gegenüber"> </abbr>für einen bei der
            Wahrnehmung ihrer Pflichten verursachten Schaden nur bei Vorliegen von Vorsatz oder grober Fahrlässigkeit.
            Satz&nbsp;1 gilt auch für die Haftung gegenüber den Mitgliedern des Vereins. Ist streitig ob ein
            Vorstandsmitglied einen Schaden vorsätzlich oder grob fahrlässig verursacht hat, trägt der Verein oder das
            Vereinsmitglied die Beweislast.
        </li>
        <li>
            Sind Vorstandsmitglieder nach Abs.&nbsp;18&nbsp;Satz&nbsp;1 einem anderen zum Ersatz eines Schadens
            verpflichtet, den sie bei der Wahrnehmung ihrer Pflichten verursacht haben, so können sie von dem Verein die
            Befreiung von der Verbindlichkeit verlangen. Satz&nbsp;1 gilt nicht, wenn der Schaden vorsätzlich oder grob
            fahrlässig verursacht wurde.
        </li>
        <li>
            Der 1.&nbsp;Vorsitz oder in dessen Vertretung der 2.&nbsp;Vorsitz berufen den Vorstand mindestens einmal im
            Halbjahr zu einer ordentlichen Vorstandssitzung ein. Außerordentliche Vorstandssitzungen finden statt, wenn
            mindestens zwei Vorstandsmitglieder dies beantragen. Der 1.&nbsp;Vorsitz, im Falle dessen Verhinderung der
            2.&nbsp;Vorsitz, leitet die jeweilige Vorstandssitzung. Eine Einladungsfrist von einer Woche soll
            eingehalten werden.
        </li>
        <li>
            Der Vorstand ist beschlussfähig, wenn mindestens drei der stimmberechtigten Vorstandsmitglieder oder, im
            Falle eines nur aus zwei Mitgliedern bestehenden Vorstands, alle Vorstandsmitglieder anwesend sind. Der
            Vorstand fasst Beschlüsse mit einfacher Mehrheit der anwesenden Vorstandsmitglieder. Beschlüsse des
            Vorstands sind für alle Vorstandsmitglieder bindend. Über jede Vorstandssitzung wird ein Protokoll
            angefertigt.
        </li>
        <li>
            Außerhalb von Vorstandssitzungen kann der Vorstand im Umlaufverfahren schriftlich oder per E-Mail
            Beschlüsse fassen, wenn alle Vorstandsmitglieder Gelegenheit zur Stellungnahme hatten.
            Abs.&nbsp;21&nbsp;Sätze&nbsp;2&nbsp;und&nbsp;3 gelten entsprechend.
        </li>
    </ol>

    <h2 id="§11">§11 Kassenprüfende</h2>
    <ol>
        <li>
            Die Mitgliederversammlung wählt für die Dauer der Zeit bis zur nächsten Mitgliederversammlung mindestens
            zwei Kassenprüfende, welche die ordnungsgemäße Verwaltung des Vereinsvermögens im Sinne dieser Satzung
            überwachen. Der Vorstand muss ihnen dafür jederzeit Einsicht in alle Buchungs- und Geschäftsunterlagen
            gewähren.
        </li>
        <li>Kassenprüfende dürfen nicht dem Vorstand angehören.</li>
        <li>
            Alle Kassenprüfenden erstatten der Mitgliederversammlung nach Ablauf des Geschäftsjahres und bei Ablauf der
            Amtszeit oder vorzeitigem Ausscheiden eines Vorstandsmitglieds Bericht. Dazu wird ein schriftlicher
            Kassenprüfungsbericht vorgelegt, der von mindestens zwei Kassenprüfenden unterzeichnet wird.
        </li>
    </ol>

    <h2 id="§12">§12 Satzungsänderungen</h2>
    <ul>
        <li>
            Die Mitgliederversammlung kann diese Satzung mit absoluter Zweidrittelmehrheit der anwesenden Mitglieder
            ändern oder neu fassen. Enthaltungen, ungültige und nicht abgegebene Stimmen von anwesende Mitgliedern
            zählen als Nein-Stimmen.
        </li>
        <li>
            Der Wortlaut der Satzungsänderung oder Satzungsneufassung muss den Mitgliedern bei der Ladung zusammen mit
            der jeweils aktuell gültigen Satzung bekannt gemacht werden.
        </li>
        <li>
            Eine von der Mitgliederversammlung verabschiedete Satzungsänderung ist durch den Vorstand zur Eintragung in
            das Vereinsregister anzumelden. Dem Vorstand ist das Recht übertragen, etwaige Satzungsänderungen, die das
            Finanzamt oder das Registergericht verlangen, vorzunehmen. Einer Beschlussfassung der Mitgliederversammlung
            bedarf es insoweit nicht. Der Vorstand muss die Mitglieder jedoch auf der nächstfolgenden
            Mitgliederversammlung über die von ihm vorgenommenen Satzungsänderungen informieren.
        </li>
        <li>
            Bei jeder Satzungsänderung muss die aktuelle Satzung unmittelbar nach der Eintragung in das Vereinsregister
            auf der Vereinswebsite <a href="https://alumni.stusta.de">https://alumni.stusta.de</a> veröffentlicht und
            den Mitgliedern per E-Mail zugesendet werden.
        </li>
    </ul>

    <h2 id="§13">§13 Auflösung des Vereins</h2>
    <ul>
        <li>
            Die Auflösung des Vereins kann nur durch eine eigens zu diesem Zweck einberufene Mitgliederversammlung mit
            absoluter Dreiviertelmehrheit der anwesenden Mitglieder beschlossen werden. Enthaltungen, ungültige und
            nicht abgegebene Stimmen von anwesenden Mitgliedern zählen als Nein-Stimmen.
        </li>
        <li>
            Falls die Mitgliederversammlung nichts anderes beschließt, sind alle Vorstandsmitglieder gemeinsam
            vertretungsberechtigte Liquidatoren.
        </li>
        <li>Der Verein wird aufgelöst, wenn nur noch ein Mitglied vorhanden ist.</li>
        <li>
            Bei Auflösung des Vereins, Aufhebung des Vereins oder Wegfall der steuerbegünstigten Zwecke fällt das
            Vermögen des Vereins an den Studentenstadt&nbsp;München&nbsp;e.V. Die den Verein auflösende
            Mitgliederversammlung kann davon abweichend mit einfacher Mehrheit andere steuerbegünstigte Körperschaften,
            jedoch keine Körperschaft des öffentlichen Rechts, bestimmen, an die das Vermögen fällt. In diesem Fall ist
            das Vermögen von den Empfängern zweckgebunden zur Förderung der Studierendenhilfe in der
            Studentenstadt&nbsp;Freimann einzusetzen.
        </li>
    </ul>

    <p class="pull-right"><small>Fassung vom 10.11.2019</small></p>
</section>
