---
title: Veranstaltungen
position: 100
---
{% for event in site.events reversed %}
    <div class="section">
        <h2>
            {% if event.singleView %}
                <a href="{{ event.url }}">{{ event.title }}</a>
            {% else %}
                {{ event.title }}
            {% endif %}
            <small>{{ event.date | date: '%d.%m.%Y' }}</small>
        </h2>
        
        {% if event.singleView %}
            <div class="row">
                {% assign firstImage = site.static_files | where_exp: 'file', 'file.path contains event.imagePath' | first %}
                <div class="col-md-4">
                    <a href="{{ event.url }}">
                        <img class="img-responsive" src="{{ firstImage.path }}" />
                    </a>
                </div>
                
                <div class="col-md-8">
                    <p>{{ event.excerpt }}</p>
                    <a href="{{ event.url }}" class="btn btn-default">Zu den Bildern</a>
                </div>
            </div>
        {% else %}
            <p>{{ event.excerpt }}</p>
        {% endif %}
    </div>
{% endfor %}