body {
    padding-top: 50px;
}

[id] {
    margin-top: -50px;
    padding-top: 50px;
}
#toc {
    position: fixed;
}

.jumbotron {
    background: #66503d;
    background: -moz-linear-gradient(45deg, #66503d 0%, #947445 25%, #b89c53 37.5%, #d7c563 50%, #d8d169 62.5%, #beb965 75%, #aea677 100%);
    background: -webkit-linear-gradient(45deg, #66503d 0%, #947445 25%, #b89c53 37.5%, #d7c563 50%, #d8d169 62.5%, #beb965 75%, #aea677 100%);
    background: linear-gradient(45deg, #66503d 0%, #947445 25%, #b89c53 37.5%, #d7c563 50%, #d8d169 62.5%, #beb965 75%, #aea677 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66503d', endColorstr='#aea677',GradientType=1 );
}

.pswp__caption__center {
    text-align: center;
}

section {
    margin-top: 2.5rem;
}
