body {
    padding-top: 50px;
}

[id] {
    margin-top: -50px;
    padding-top: 50px;
}
#toc {
    position: fixed;
}

.jumbotron {
    background: #10110a;
    background: -webkit-linear-gradient(87deg, #141d08 0%, #0d060d 100%);
    background: -o-linear-gradient(87deg, #141d08 0%, #0d060d 100%);
    background: -ms-linear-gradient(87deg, #141d08 0%, #0d060d 100%);
    background: -moz-linear-gradient(87deg, #141d08 0%, #0d060d 100%);
    background: linear-gradient(3deg, #141d08 0%, #0d060d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141d08', endColorstr='#0d060d',GradientType=1 );

    position: relative;
}

.jumbotron__background {
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width: auto;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.pswp__caption__center {
    text-align: center;
}

section {
    margin-top: 2.5rem;
}

.js-gallery figure a {
    cursor: zoom-in;
}
