---
title: StuSta-Führung
title_long: Führung durch die Studentenstadt
imagePath: 2018-06-02-stusta-fuehrung
teaserPic: 2018-06-02_13-25-47.jpg
permalink: /events/2018-06-02-stusta-fuehrung.html
captions:
  2018-06-02_12-53-45.jpg: Sindre markiert den Sammelpunkt
  2018-06-02_12-56-00.jpg: Es kommen immer mehr Interessenten vorbei
  2018-06-02_13-05-51.jpg: Die Gruppe ist so groß, dass sie geteilt werden muss
  2018-06-02_13-06-00.jpg: Das StuStaCulum ist noch spärlich besucht
  2018-06-02_13-07-24.jpg: Das HSH in seiner vollen Pracht
  2018-06-02_13-11-40.jpg: Sindre führt die Hälfte der Besucher in Richtung Haus 14
  2018-06-02_13-11-47.jpg: Hinter dem Roten Haus gibt es noch immer den Schachtisch
  2018-06-02_13-12-59.jpg: Haus 14 (inzwischen auch "Dieter&#8209;Maßberg&#8209;Haus") beherbergt noch immer WGs
  2018-06-02_13-20-01.jpg: Der Zugang zum Kriechbereich
  2018-06-02_13-20-19.jpg: In den Katakomben von Haus 14 sammelt sich einiges an
  2018-06-02_13-21-43.jpg: Andere Bereiche im Keller sind den Bewohnern zugänglich
  2018-06-02_13-25-47.jpg: Der Keller von Haus 14 bietet sich nur für kleine Leute an
  2018-06-02_13-28-40.jpg: Die Karawane zieht weiter…
  2018-06-02_13-28-45.jpg: …an der übersichtlichen Darstellung der StuSta vorbei…
  2018-06-02_13-28-58.jpg: …die Grasmeierstraße entlang zum MKH (Haus 1)
  2018-06-02_13-36-56.jpg: Im MKH dürfen wir mit offizieller Begleitung wieder auf das Dach
  2018-06-02_13-37-13.jpg: Am alten MKH-Café vorbei…
  2018-06-02_13-37-48.jpg: …auf die StuSta-gewandte Seite
  2018-06-02_13-38-20.jpg: Hier hat man eine schöne Sicht auf die Neu- und Altstadt…
  2018-06-02_13-40-31.jpg: …und die Altstadthäuser 4 (EWH) und 6
  2018-06-02_13-46-09.jpg: Helmut Gierke erzählt von seiner Zeit als Leiter der Abteilung Wohnen
  2018-06-02_13-53-22.jpg: Es gibt doch Bewohner, welche auch sonst auf das MKH-Dach dürfen (versorgt von Hausmeistern)
  2018-06-02_14-07-35.jpg: Die O2-/Wohnwürfel
  2018-06-02_14-11-28.jpg: Haus 6 ist beinahe wieder bezugsfertig
  2018-06-02_14-22-02.jpg: Der hüfthoch betonierte HSH-Keller
  2018-06-02_14-22-43.jpg: Die Telefonanlage des HSH
  2018-06-02_14-24-45.jpg: Ein Dieselaggregat für den Aufzug darf nicht fehlen
  2018-06-02_14-37-03.jpg: Im Keller des blauen Hauses (Haus 11) werden u.a. neue Matratzen gelagert
  2018-06-02_14-40-16.jpg: Auch unsere tierischen Mitbewohner fühlen sich bei diesem Wetter wohl
  2018-06-02_14-48-20.jpg: >-
    Robert Lang verabschiedet die Gäste in der Tiefgarage unter der Hausverwaltung bzw. dem Kindergarten
---
<p>
    Wie schon letztes Jahr veranstaltete der StuSta&#8209;Alumni&nbsp;e.V. am Samstag des StuStaCulums eine Führung
    durch die Studentenstadt. Waren es 2017 noch 50 Teilnehmer gewesen, erschienen dieses Jahr ungefähr 80 Interessierte
    zu Beginn der Führung um 13 Uhr, so dass die Gruppe aus Gründen des begrenzten Platzes auf Dächern und
    (insbesondere) in Kellern zum ersten Mal spontan geteilt werden musste.
</p>

<p>
    Dieser kleinen logistischen Schwierigkeit ungeachtet leiteten die Herren Robert C. Lang (Technischer Inspektor,
    Studentenstadt) und Helmut Gierke (ehemaliger Abteilungsleiter Wohnen, Studentenwerk) die Besucher souverän auf
    einen anderthalbstündigen Spaziergang durch die Geschichte und Architektur bzw. versteckte Infrastruktur der
    StuSta. Mit umfangreichem Fachwissen und Anekdoten aus ihrer Berufserfahrung, waren sogar für langjährige
    StuSta-Bewohner viele neue Informationen dabei – und das an Orten, die man als Bewohner normal nie zu Gesicht
    bekommt.
</p>

<p>
    Die Veranstaltung wurde so gut angenommen, dass wir sie nächstes Jahr nochmals wiederholen werden – und auch für
    die Heimselbstverwaltung wird es zum Semesteranfang, wie ebenfalls schon letztes Jahr, noch eine Sonderführung
    gleicher Art geben.
</p>
