---
title: Der Alumni-Verein auf den Spuren der Pharaonen
permalink: /events/2018-07-17-aegyptisches-museum.html
teaserAltText: Eingang "Staatliches Museum Ägyptischer Kunst"
teaserPic: https://upload.wikimedia.org/wikipedia/commons/9/9b/Munich_%E2%80%94_Gabelsbergerstra%C3%9Fe_35_%E2%80%94_Schild_Staatliches_Museum_%C3%84gyptischer_Kunst.JPG
teaserCaption: >-
  Foto: <a href="https://commons.wikimedia.org/wiki/User:Mattes">Mattes</a> [<a class="text-nowrap"
  href="https://creativecommons.org/licenses/by/2.0/de/deed.en">CC BY 2.0 de</a>], <a class="text-nowrap"
  href="https://commons.wikimedia.org/wiki/File:Munich_%E2%80%94_Gabelsbergerstra%C3%9Fe_35_%E2%80%94_Schild_Staatliches_Museum_%C3%84gyptischer_Kunst.JPG">
  Wikimedia Commons</a>
---
<p>
    Am Dienstag, 17.07.2018 fand eine weitere Veranstaltung für unsere Vereinsmitglieder statt: Gemeinsam besuchten
    wir das Staatliche Museum Ägyptischer Kunst im Pinakotheken-Viertel beim TUM-Stammgelände. Das imposante Museum
    befindet sich komplett unterirdisch auf dem gleichen Areal wie die Hochschule für Fernsehen und Film.
</p>

<p>
    Zwei Mitglieder unserer sechsköpfigen Gruppe machten sich auf eigene Faust auf Entdeckungstour, während die
    anderen Vier an der Führung „Fünf Jahrtausende – Die Anfänge (Vorgeschichte und Reichseinigungszeit)“ durch die
    verschiedenen Räume teilnahmen. Vorbei an Sarkophagen und einem Obelisken ging es dann auf einen
    abwechslungsreichen Streifzug durch 5.000 Jahre ägyptischer Geschichte mit Kunst und Exponaten aus allen Epochen
    des Alten Ägyptens (von der Vorgeschichte über das Alte, Mittlere und Neue Reich bis hin zur griechisch-römischen
    Zeit).
</p>

<p>
    Nach dem gut zweistündigen Kunstgenuss und einem kleinen Spaziergang durch die Maxvorstadt ließen die
    Vereinsmitglieder im zweiten Teil der Veranstaltung den Abend in der ebenfalls geschichtsträchtigen Kneipe
    „Alter&nbsp;Simpl“ gemütlich bei einem Bier ausklingen.
</p>
