---
title: Besichtigung des Neuen Israelitischen Friedhofs
imagePath: 2018-12-02-neuer-israelitischer-friedhof
permalink: /events/2018-12-02-neuer-israelitischer-friedhof.html
teaserCaption: Die Teilnehmer (abzüglich Fotograf) der Besichtigung vor dem Eingang zum Friedhof
teaserPic: 2018-12-02_14.30.01.jpg
altTexts:
  2018-12-02_14.30.01.jpg: >-
    8 Personen vor dem Eingang zum Neuen Israelitischen Friedhof. In der Mitte Fabian Eckl, der die Führung leitete.
---
<p>
    Vor 100 Jahren wurde der Freistaat Bayern ausgerufen. Dieses Jubiläum wurde heuer in den Medien und durch
    Veranstaltungen bis hin zum Staatsakt gewürdigt.
</p>

<p>
    Die Wenigsten wissen aber, dass die wohl prägendste Persönlichkeit dieser Zeit, der Revolution und des Umsturzes,
    Kurt Eisner, ganz in der Nähe der Studentenstadt, auf dem versteckt liegenden Neuen Israelitischen Friedhof
    begraben liegt.
</p>

<p>
    Dies nahmen wir zum Anlass für unser nächstes Vereins-Event. Gleichzeitig war es auch die erste Veranstaltung,
    die zusammen mit der Heimselbstverwaltung besonders für aktuelle StuSta-Bewohner angeboten wurde, da sich das HSH
    freundlicherweise mit einem Tutorenprogramm daran beteiligte.
</p>

<p>
    Eine kleine, aber sehr interessierte Gruppe von aktuellen StuSta-Bewohnern und Alumni machte sich daher an einem
    regnerischen Sonntag auf, um bei einem Spaziergang zum und über den Neuen Israelitischen Friedhof mehr über
    diesen Ort der Stille, die dort bestatteten Persönlichkeiten und das jüdische Bestattungswesen zu erfahren. Nach
    einem kleinen Vortrag am Eingang zum Friedhof, besichtigte die Gruppe zwei berühmte Grabstätten (Kurt Eisner,
    erster bayerischer Ministerpräsident, und Kurt Landauer, Ehrenpräsident des FC Bayern München). Dann konnte jeder
    für sich bei einem Gang über den Friedhof, vorbei an neu angelegten und vielen historischen Gräbern, die Stimmung
    dieses besonderen Ortes auf sich wirken lassen.
</p>

<p>
    Nach dem gemeinsamen Rückweg zur StuSta wurde der Ausflug bei Kaffee und Kuchen im Brotladen abgeschlossen.
</p>
