---
title: Zu Besuch bei Zeus und Co
title_long: Führung durch das Skulpturenprogramm im Nymphenburger Schlosspark
imagePath: 2019-08-21-nymphenburg
teaserPic: 2019-08-21_19.22.50.jpg
permalink: /events/2019-08-21-schlosspark-nymphenburg.html
captions:
  2019-08-21_19.22.50.jpg: Die sechs Teilnehmenden der Führung
altTexts:
  2019-08-21_19.22.50.jpg: Sechs Personen vor dem Schloss Nymphenburg (Parkseite)
---
<p>
  Eine kleine aber interessierte Gruppe von Vereinsmitgliedern begab sich am 21. August 2019 auf eine Reise in die
  antike Götterwelt – und das mitten in München.
</p>

<p>
  Im Nymphenburger Schlosspark erfuhren die Teilnehmenden der Führung neben Wissenswertem zur Historie von Schloss und
  Park auch Geschichten und Sagen zu den dort aufgestellten Statuen antiker Götter. Egal ob Göttervater Zeus, seine
  Tochter Athene oder der mutige Herakles, alle sind dort vertreten.
</p>

<p>
  Bei einem Spaziergang über das weitläufige Gelände wurde an vielen Stationen haltgemacht, um sich über das Treiben der
  Götter im Olymp, auf der Erde oder im Hades zu informieren.<br/>
  Nach gut zwei Stunden kehrte die Alumni&#8209;Gruppe aus der Antike ins Hier und Heute zurück, wo sich auf dem großen
  Schloss&#8209;Rondell die Wege trennten.
</p>
