---
title: Wanderung Heuberg
title_long: Wanderung auf den Heuberg
imagePath: 2019-06-16-heuberg
teaserPic: 20190616_114506.jpg
permalink: /events/2019-06-16-wanderung-heuberg.html
captions:
  20190616_114028.jpg: Aussicht vom Heuberg (Nord-West)
  20190616_114506.jpg: Die Wandergruppe vor dem Gipfelkreuz
  20190616_130523.jpg: Stärkung auf der Lagler Hütte
altTexts:
  20190616_114028.jpg: Begrünter Abhang im Vordergrund, Aussicht aufs Inntal und in die Ebene, Himmel wolkenverhangen.
  20190616_114506.jpg: Die 7 Teilnehmenden stehen vor dem Gipfelkreuz des Heuberg
  20190616_130523.jpg: >-
    6 Personen aus der Gruppe sitzen an einer Biergarnitur vor der Lagler Hütte. Auf dem Tisch sind Teller mit Kuchen
    oder Brotzeit (teilweise bereits leer) und Bier, Limo und Heißgetränke zu sehen. Die Hütte ist gut besucht.
---
<p>
  Am Sonntag, 16. Juni machten sich vier Vereinsmitglieder zusammen mit dem gesamten Vorstand am frühen Morgen auf den
  Weg ins Chiemgau. Vom Wanderparkplatz aus ging es über die Daffnerwaldalm auf den Heuberg. Normalerweise bietet
  dieser aufgrund seiner exponierten Lage im Inntal eine tolle Fernsicht; diesmal gaben Wolken und Nebel nur
  stellenweise die Aussicht auf den Inn frei.
</p>

<p>
  Nach einer kurzen Brotzeit am Gipfel, nahmen zwei aus der Gruppe noch die kleine Kraxelei auf die benachbarte
  Wasserwand in Angriff, während der Rest der Gruppe wieder zur Lagler Hütte abstieg und sich dort vor dem letzten
  Teilstück nach unten noch ein herzhaftes Mittagessen oder ein Stück Kuchen genehmigte.
</p>

<p>
  Frisch gestärkt war der restliche Rückweg kein Problem mehr, so dass es wenig später wieder heim nach München ging.
</p>
