---
title: Weinverkostung
imagePath: 2019-03-23-weinverkostung
permalink: /events/2019-03-23-weinverkostung.html
teaserCaption: Auflistung der fünf ausgewählten Weißweine
teaserPic: 2019-03-23_20.56.47.jpg
altTexts:
  2019-03-23_20.56.47.jpg: |-
    Lugana - Le Morette (2018), Venetien
    Serai bianco - Le Morette (2018), Venetien
    Pinot Grigio - Santa Margherita (2017), Trentino
    Chardonnay - Conti Fermentini (2017), Venetien
    Soave - Tenuta San Antonio (2017), Venetien
---
<p>
    Nach einer kleinen Winterpause waren es insgesamt elf Alumni und aktuelle StuSta-Bewohner, die sich an einem
    Samstagabend Ende März im Arkadenraum einfanden, um am nächsten Vereinsevent teilzunehmen: einer Verkostung fünf
    italienischer Weißweine aus Venetien und Trentino, sozusagen als Vorbereitung auf den bevorstehenden Sommer.
</p>

<p>
    Geleitet wurde die Verkostung vom Vereinsmitglied Lennart Wahl, der mit seinem Wissen zu den Besonderheiten der
    einzelnen Rebsorten und den Auswirkungen von Restzucker, Säure und Alkoholgehalt auf den Geschmack die
    Teilnehmenden wiederholt beeindruckte&nbsp;&ndash;&nbsp;trotz seiner Behauptung, er würde eigentlich nur gerne Wein
    trinken. Dazu durfte jeder selbst anhand der eigenen fünf Gläser erfahren, wie verschieden diese Weine aus der
    gleichen Region doch schmecken, wenn man sie direkt miteinander vergleichen kann. Auch mit den eher poetischen
    Beschreibungen der Hersteller wurden die eigenen Eindrücke verglichen, und Erstere nicht immer bestätigt.
</p>

<p>
    Obwohl bezüglich der einzelnen Geschmackselemente größtenteils Einigkeit herrschte, ermittelte natürlich nicht
    jeder für sich die gleichen Vorlieben. Und nachdem jeder sich anschließend von seinen eigenen Favoriten ein- bis
    zweimal nachgeschenkt hatte, waren auch sämtliche Weine ausgetrunken. Alle waren sich einig, dass es ein
    interessanter und angenehmer Abend gewesen war&nbsp;&ndash;&nbsp;so sehr, dass niemand daran dachte, ein Foto von
    der Veranstaltung zu machen&nbsp;&ndash;&nbsp;und dass die Weinverkostung vor dem Ende des Sommers wiederholt werden
    sollte, dann voraussichtlich mit Roséweinen.
</p>
