---
title: Führung durch das Olydorf
imagePath: 2019-11-09-fuehrung-olydorf
teaserPic: 2019-11-09_16.35.13_c.jpg
permalink: /events/2019-11-09-fuehrung-olydorf.html
captions:
  2019-11-09_16.35.13_c.jpg: Die elf Teilnehmenden der Führung
altTexts:
  2019-11-09_16.35.13_c.jpg: Elf Personen vor den Olydorf-Bungalows, im Hintergrund der Olympiaturm.
---
<p>
  Länger hatten sich einige Alumni eine Führung durch das Olydorf gewünscht, analog zur inzwischen traditionsreichen
  Führung durch die Geschichte und versteckten Ecken der StuSta. Und an einem Samstag im November war es endlich so
  weit.
</p>

<p>
  Zustande gekommen war die Führung im Rahmen eines verstärkten Kontakts zwischen der aktuellen Heimselbstverwaltung der
  Studentenstadt und ihrer Schwestersiedlung im Westen. Und als die StuSta ins Olydorf eingeladen wurde, war der GHR so
  freundlich, auch den Alumni-Verein miteinzubeziehen, der am Ende sogar einen Großteil der Teilnehmenden gestellt hat.
</p>

<p>
  Begrüßt wurde der Besuch von Katharina Prechtl, Vorstand des Vereins der Studenten im Olympiazentrum e.V., die
  zunächst anhand eines Lichtbildvortrags eine Einführung in die Geschichte der seit knapp 48 Jahren bewohnten Siedlung
  und in die Strukturen der dortigen Heimselbstverwaltung gab. Vor allem dadurch, dass fast alle Einrichtungen von einem
  einzigen Verein und nicht von vielen recht eigenständigen Häusern betrieben werden, unterscheidet sie sich nämlich
  nicht wenig von der der StuSta.
</p>

<p>
  Anschließend wurden unter anderem die vielfältigen vereinsinternen und allen Bewohnern zugänglichen Werkstätten, das
  Fotostudio, der große Lesesaal und die Räume der dorfeigenen Imker besichtigt. Ebenso wurde ein Blick in eines der vor
  fünf Jahren neu eingerichteten Hochhaus-GAPs geworfen, die die Bewohner in Zukunft wohl wieder individueller werden
  gestalten dürfen.
</p>

<p>
  Auch eine Auswahl Bungalow-Fassaden bekamen die Gäste zu sehen, die zehn Jahre nach dem Neubau inzwischen wieder
  überwiegend kreativ bemalt worden sind. Besichtigt wurden außerdem eine hochgelegene Terrasse für Events mit Aussicht
  (bis zur StuSta), sowie die Bierstube, die OlyDisco und die OlyLounge mit dazugehörender Infrastruktur.
</p>

<p>
  Mehr Infos zum Olydorf und seiner Geschichte gibt es unter <a href="https://olydorf.com">olydorf.com</a>.
</p>








