---
title: Alumni beim StuStaCulum
imagePath: 2019-06-01-stustaculum
teaserPic: 2019-06-01_13.06.10.jpg
permalink: /events/2019-06-01-alumni-beim-stustaculum.html
captions:
  2019-06-01_12.51.57.jpg: Interessante Gespräche…
  2019-06-01_12.54.01.jpg: … mit interessanten Personen…
  2019-06-01_12.54.20.jpg: … über interessante Zeiten…
  2019-06-01_12.55.36.jpg: … beim Alumni-Treffen.
  2019-06-01_13.06.10.jpg: Unsere StuSta-Experten Robert Lang und Helmut Gierke.
  2019-06-01_13.08.48.jpg: Sindre begrüßt die Teilnehmer der Führung.
  2019-06-01_13.19.24.jpg: Im Keller des Blauen Hauses muss man nicht weit graben um auf Grundwasser zu stoßen!
  2019-06-01_13.21.11.jpg: Viel Platz nach oben ist aber auch nicht.
  2019-06-01_13.31.59.jpg: Manch ein Zimmer kann man als Hausmeister nur mit Humor ertragen.
  2019-06-01_13.56.52.jpg: Dieses Mal konnten wir auch einen der O₂&#8209;Würfel von innen zeigen.
  2019-06-01_14.11.34.jpg: >-
    Die 6er-Häuser haben inzwischen wieder eine Außenfassade. Der Innenausbau soll noch im Sommer erfolgen.
  2019-06-01_14.13.33.jpg: Die Aussicht vom ehemaligen Café auf dem MKH-Dach lässt nichts zu wünschen übrig.
altTexts:
  2019-06-01_12.51.57.jpg: 8 Personen vom dem Festzelt ins Gespräch vertieft.
  2019-06-01_12.54.01.jpg: Mehrere Personen im Gespräch.
  2019-06-01_12.54.20.jpg: >-
    Mehrere Personen an Biergarnituren. Auf dem Tisch liegt eine Broschüre „25 Jahre Studentenstadt“.
  2019-06-01_12.55.36.jpg: >-
    Ein weiterer Blickwinkel auf die Personengruppe. Darunter auch eine ehemalige Bewohnerin mit Baby im Arm.
  2019-06-01_13.06.10.jpg: Robert Lang steht neben Helmut Gierke.
  2019-06-01_13.08.48.jpg: >-
    Sindre steht auf einer Bierbank, schwenkt eine kleine StuSta&#8209;Alumni&nbsp;e.V.-Flagge und spricht zu etwa 25
    Personen.
  2019-06-01_13.19.24.jpg: >-
    Ein etwa 2m breites, 1m tiefes Loch im Kellerboden. Man erkennt feuchten Boden und sieht auch bereits das Wasser
    stehen.
  2019-06-01_13.21.11.jpg: Die Führungsteilnehmenden im Keller. Viele Rohre verlaufen auf Kopfhöhe.
  2019-06-01_13.31.59.jpg: >-
    Zwei Fotos von einem Zimmer, welches über und über von Müll bedeckt ist. Um die Fotos herum sind Ausschnitte aus
    Magazinen und diverse Sprüche aufgeklebt - z.B. „Stilvoll schlafen“, „schöner wohnen - besser leben“, „Je mehr ich
    von den Menschen sehe, um so mehr schätze ich Hunde. (Friedrich der Große)“.
  2019-06-01_13.56.52.jpg: Mehrere Personen stehen an um einen Blick in einen der O₂&#8209;Würfel zu erhaschen.
  2019-06-01_14.11.34.jpg: Blick von schräg oben auf die 6er-Häuser - Die Fassade schaut nach Wellblech aus.
  2019-06-01_14.13.33.jpg: Blick vom MKH-Dach - Bäume so weit das Auge reicht. Die Alpen sind am Horizont zu erahnen.
---
<p>
  Dieses Jahr veranstaltete der StuSta&#8209;Alumni&nbsp;e.V. beim StuStaCulum schon das dritte Jahr in Folge seine
  "Führung durch die Geschichte und versteckten Ecken der Studentenstadt". Geleitet wurde der Rundgang wie bisher von
  den Herren Robert C. Lang (Technischer Inspektor, Studentenstadt) und Helmut Gierke (ehemaliger Abteilungsleiter
  Wohnen, Studentenwerk), die den ungefähr 40 Teilnehmenden wieder kaum bekannte Details über die Wohnanlage
  verrieten und Einblicke in sonst kaum zugängliche Bereiche gewährten – darunter der schon halb ausgegrabene Keller
  des Blauen Hauses (wird bald saniert), das Innere eines Wohnwürfels und natürlich die Dachterrasse des ehemaligen
  Cafés auf dem Dach des MKH.
</p>

<p>
  Auch schon vor der StuSta-Führung war der Alumni-Verein aber bei dem Ehemaligentreffen des Vereins Kulturleben
  präsent, wo unter anderem historische Funde aus dem Archiv der Heimselbstverwaltung mit persönlichen Erinnerungen
  an die Frühzeit des StuStaCulums verglichen wurden. Auch einer der Orgas aus dem Gründungsjahr des VKL war dieses
  Jahr dabei. Anschließend an die StuSta-Führung waren alle Ehemalige und andere Interessierte eingeladen, beim
  offenen Alumni-Treff vor dem Festzelt den Verein besser kennenzulernen, sich mit ehemaligen Mitstreitern aus
  eigenen StuSta-Zeiten auszutauschen und neue Bekanntschaften zu stiften.
</p>

<p>
  Weitere Fotos von der StuSta-Führung gibt es beim <a href="/events/2018-06-02-stusta-fuehrung.html">Eintrag aus dem
  letzten Jahr</a>.
</p>
