---
title: StuSta-Führung mit Sondergästen
imagePath: 2019-11-04-stusta-fuehrung-mit-sondergaesten
teaserPic: IMG_20191104_165711.jpg
permalink: /events/2019-11-04-stusta-fuehrung-mit-sondergaesten.html
captions:
  IMG_20191104_163304.jpg: Helmut Gierke führt unermüdlich durch die StuSta
  IMG_20191104_165711.jpg: Die 14 Teilnehmenden
  IMG_20191104_165922-03.jpeg: Künstlerische Aufnahme der StuSta
altTexts:
  IMG_20191104_163304.jpg: Helmut Gierke referiert vor den Teilnehmenden auf dem Dach des MKH.
  IMG_20191104_165711.jpg: 16 Personen (inklusive der Führenden Helmut Gierke und Robert C. Lang) auf dem MKH-Dach.
  IMG_20191104_165922-03.jpeg: >-
    Sicht vom MKH-Dach Richtung Neustadt. Das Bild wurde mit einem künstlerischen Filter versehen (es sieht aus als
    wäre es zu nah an einem Feuer gewesen).
---
<p>
  Weil ein Großteil der StuSta-Bewohner während des StuStaCulums mit der Veranstaltung des Festivals beschäftigt ist,
  hat der StuSta-Alumni e.V. seine exklusive StuSta-Führung 2017 und 2018 auch zu Beginn des Wintersemesters angeboten.
  Und aufgrund des unermüdlichen Engagements der Herren Robert C. Lang (Objektverantwortlicher, Studentenstadt) und
  Helmut Gierke (ehemaliger Abteilungsleiter Wohnen, Studentenwerk) konnte dies nun auch das dritte Jahr in Folge
  wiederholt werden.
</p>

<p>
  Trotz des mäßigen Wetters und dem Umstand, dass die Reserve an Alteingesessenen nun wohl endgültig aufgebraucht
  scheint, erschienen ca. 15 Interessierte zur Führung. Darunter unerwarteterweise auch drei Angestellte des
  Studentenwerks, die über ein paar Ecken von der Führung erfahren hatten. Nach den üblichen Mix aus Geschichte und
  versteckten Ecken wurde daher auch noch spontan eine Besichtigung des Bistros und der Sauna angehängt, wovon sich die
  Sondergäste sichtbar beeindruckt zeigten.
</p>

<p>
  Weitere Fotos von der StuSta-Führung gibt es beim <a href="{% link _events/2018-06-02-stusta-fuehrung.liquid %}">
  Eintrag aus dem letzten Jahr</a>.
</p>
