<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} - StuSta-Alumni e.V.</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% link assets/img/apple-touch-icon.png %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% link assets/img/favicon-16x16.png %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% link assets/img/favicon-32x32.png %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% link assets/img/android-chrome-192x192.png %}">
    <link rel="icon" type="image/png" sizes="194x194" href="{% link assets/img/favicon-194x194.png %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% link assets/img/android-chrome-512x512.png %}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="{% link assets/img/stusta_alumni_logo_only.svg %}">

    <link rel="manifest" href="{% link assets/site.webmanifest %}">
    <link rel="mask-icon" href="{% link assets/img/safari-pinned-tab.svg %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <!--[if lt IE 9]>
        <script src="{% link assets/lib/html5shiv-3.7.3/dist/html5shiv.min.js %}"></script>
    <![endif]-->
    <script src="{% link assets/lib/jquery-3.4.1.slim.min.js %}"></script>
    <script src="{% link assets/lib/bootstrap-4.4.1-dist/js/bootstrap.min.js %}"></script>

    <link href="{% link assets/lib/font-awesome-4.7.0/css/font-awesome.min.css %}" rel="stylesheet">
    <link href="{% link assets/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css %}" rel="stylesheet">

    <link href="{% link assets/lib/PhotoSwipe-4.1.3/dist/photoswipe.css %}" rel="stylesheet">
    <link href="{% link assets/lib/PhotoSwipe-4.1.3/dist/default-skin/default-skin.css %}" rel="stylesheet">

    <link href="{% link assets/css/styles.scss %}" rel="stylesheet">
</head>
<body {%- if page.toc %} data-spy="scroll" data-target="#toc"{%- endif -%}>
{% include navigation.liquid %}

{{ content }}

</body>
</html>
